/* Copyright 2021 Bruno Zhong. All rights reserved. */

body {
  background-color: black;
  color: white;
}
a:link {
  color: lightblue;
}
a:visited {
  color: lightblue;
}
a:hover {
  color: lightblue;  
}
a:active {
  color: lightblue;
}
table, td, th {
  border: 1px solid white;
}

table {
  width: 100%;
  border-collapse: collapse;
}
